
<div class="main-layout">
  <nav [ngClass]="{'nav-scrolled': scrolled && router.url != '/home', 'nav-white': router.url == '/' || router.url == '/contact', 'nav-open': isMenuOpen}">

    <div class="menu" (click)="isMenuOpen = !isMenuOpen;">
      <div id="hamburger" onclick="this.classList.toggle('open');" [ngClass]="{'open': isMenuOpen}">
        <svg width="50" height="50" viewBox="0 0 100 100">
          <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </div>
    </div>

    <a [routerLink]="['/']" class="logo" (click)="isMenuOpen = false;">
      <img width="230px" height="47px" src="/assets/img/logos/logo.png" alt="Metacloud Logo" />
      <img width="230px" height="47px" src="/assets/img/logos/logo-white.png" alt="Metacloud Logo" />
    </a>


    <app-sound-element></app-sound-element>
    <audio loop #audio><source src="/assets/music/swedish-house-mafia-save-the-world-optimized.mp3" type="audio/mp3"></audio>

    <div class="social-media">
      <button mat-icon-button [matMenuTriggerFor]="socialMedia" target="_blank" matTooltip="Social Media">
        <img width="22px" height="22px" src="/assets/img/icons/social-media-black.svg" alt="Social Media Black" />
        <img width="22px" height="22px" src="/assets/img/icons/social-media.svg" alt="Social Media White" />
      </button>
    </div>

    <div class="separate-line-vert"></div>
    <a href="http://discord.gg/metacloud" target="_blank" class="btn-discord" mat-button>Join our Discord</a>
    <a href="https://presale.meta-cloud.io/" target="_blank" mat-flat-button class="btn-exploring btn-pre-sell">PRIVATE SALE</a>
    <button mat-flat-button color="primary" class="btn-exploring">START EXPLORING <app-coming-soon-element></app-coming-soon-element></button>
  </nav>

  <!-- <div *ngIf="router.url == '/home'" class="video-text" (click)="onClickPlayHypeVideo()">
    <p>WATCH THE HYPE VIDEO</p>
    <mat-icon>play_circle_outline</mat-icon>
  </div> -->

  <router-outlet></router-outlet>
</div>

<app-nav-menu [isMenuOpen]="isMenuOpen" (closeMenu)="closeMenu($event)"></app-nav-menu>

<div *ngIf="isVideoOpen" class="video-container" @leaveElements>
  <iframe width="100%" height="100vh" [src]="videoUrlIframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <button mat-icon-button class="btn-close" (click)="closeVideo()"><mat-icon>close</mat-icon></button>
  <mat-spinner></mat-spinner>
</div>

<mat-menu #socialMedia="matMenu">
  <a mat-menu-item href="https://medium.com/metacloud" target="_blank">
    <img style="position: relative; top: 5px; margin-right: 10px;" width="22px" height="22px" src="/assets/img/icons/medium-icon-black.svg" alt="Medium" />
    <b><span>Medium</span></b>
  </a>
  <a mat-menu-item href="http://discord.gg/metacloud" target="_blank">
    <img style="position: relative; top: 5px; margin-right: 10px;" width="22px" height="22px" src="/assets/img/icons/discord-icon-black.svg" alt="Discord" />
    <b><span>Discord</span></b>
  </a>
  <a mat-menu-item href="https://t.me/themetacloudANN" target="_blank">
    <img style="position: relative; top: 5px; margin-right: 10px;" width="22px" height="22px" src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram" />
    <b><span>Telegram Announcements</span></b>
  </a>
  <a mat-menu-item href="https://t.me/themetacloud" target="_blank">
    <img style="position: relative; top: 5px; margin-right: 10px;" width="22px" height="22px" src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram" />
    <b><span>Telegram Main chat</span></b>
  </a>
  <a mat-menu-item href="https://twitter.com/themetacloud" target="_blank">
    <img style="position: relative; top: 5px; margin-right: 10px;" width="22px" height="22px" src="/assets/img/icons/twitter-icon-black.svg" alt="Twitter" />
    <b><span>Twitter</span></b>
  </a>
</mat-menu>


<!-- <div *ngIf="blockAlert" class="block-alert">
  <button mat-icon-button class="btn-close" (click)="blockAlert = false;" matTooltip="Close"><mat-icon>close</mat-icon></button>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>“New social media handles, follow us there!”</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Twitter:  <a href="" target="_blank" class="link hover-linear">asd</a></p>
    <p>Discord:  <a href="" target="_blank" class="link hover-linear">asd</a></p>
    <p>Telegram: <a href="" target="_blank" class="link hover-linear">asd</a></p>
    <p>Medium:   <a href="" target="_blank" class="link hover-linear">asd</a></p>
    <br>
    <p>Let me know if you agree or if we want to send another message.</p>
  </mat-expansion-panel>
</div> -->
