@import "../../../../../assets/styles/vars";

.main-layout {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: #fff2ea;

  nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1em 3em;
    z-index: 20;
    top: 0em;
    width: 100%;
    box-sizing: border-box;
    @include xs {
      padding: 1em;
    }

    .logo {
      width: 230px;
      margin-right: auto;
      display: flex;
      align-items: center;
      @include xs {
        width: 170px;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .menu {
      #hamburger {
        $stroke-color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        margin-right: 1em;

        &:hover {
          .line {
            &2 {
              stroke-dasharray: 60 60;
              stroke-width: 6;
            }
            &3 {
              stroke-dasharray: 60 207;
              stroke-width: 6;
            }
          }
        }

        .line {
          fill: none;
          stroke: $stroke-color;
          stroke-width: 6;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

          &1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          &2 {
            stroke-dasharray: 45 60;
            stroke-width: 6;
          }
          &3 {
            stroke-dasharray: 30 207;
            stroke-width: 6;
          }
        }

        &.open .line {
          stroke: red;
          &1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
          &2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
          &3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
        }
      }
    }

    .sound {
      width: 30px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      transition: $animation;

      span {
        display: block;
        width: 2px;
        background-color: $color_primary_500;
        animation: sound 0ms -0.8s linear infinite alternate;
        transition: height 0.8s, background 0.3s;
        &:nth-child(1) {
          height: 25px;
          animation-duration: 474ms;
        }
        &:nth-child(2) {
          height: 25px;
          animation-duration: 433ms;
        }
        &:nth-child(3) {
          height: 25px;
          animation-duration: 407ms;
        }
        &:nth-child(4) {
          height: 25px;
          animation-duration: 458ms;
        }
      }

      &:hover {
        span {
          background-color: $color_primary_500;
        }
      }
    }

    .sound-off {
      span {
        animation-play-state: paused;
        &:nth-child(1) {
          height: 25px;
          animation-duration: 474ms;
        }
        &:nth-child(2) {
          height: 25px;
          animation-duration: 433ms;
        }
        &:nth-child(3) {
          height: 25px;
          animation-duration: 407ms;
        }
        &:nth-child(4) {
          height: 25px;
          animation-duration: 458ms;
        }
      }
    }

    @keyframes sound {
      0% {
        opacity: 0.35;
        height: 6px;
      }
      100% {
        opacity: 1;
        height: 23px;
      }
    }

    .social-media {
      margin-left: auto;
      @include xs {
        display: none;
      }
      a {
        position: relative;
        opacity: 0.7;
        transition: $animation;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: $animation;
          border-radius: 200px;
          background-color: rgba($color: #ffffff, $alpha: 0.5);
          z-index: 1;
        }
        img {
          width: 22px;
          position: relative;
          z-index: 2;
        }
        &:hover {
          opacity: 1;
          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .separate-line-vert {
      @include xs {
        display: none;
      }
    }
  }

  .nav-white {
    .menu {
      #hamburger {
        path {
          stroke: white;
        }
      }
    }
    .btn-play {
      color: white !important;
      border-color: rgba($color: white, $alpha: 0.75) !important;
    }
  }

  .nav-open {
    .btn-play {
      color: black !important;
      border-color: rgba($color: black, $alpha: 0.5) !important;
    }
  }

  .video-text {
    position: fixed;
    bottom: 2em;
    right: 3em;
    z-index: 18;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    @include xs{
      right: 1em;
      bottom: 1em;
    }
    &:hover {
      color: $color_primary_500;
    }
    p {
      margin: 0;
      font-size: 0.8em;
      font-weight: 600;
      @include xs {
        display: none;
      }
    }
  }

  .video-miniature {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 250px;
    height: 140px;
    z-index: 18;
    cursor: pointer;
    transition: $animation;
    box-shadow: 0 16px 30px -12px rgba($color: black, $alpha: 0.7);

    .contain {
      cursor: pointer;
      overflow: hidden;
      border-radius: 8px;
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 8px rgba($color: white, $alpha: 0.15);
      transition: $animation;
      background-color: $color_primary_900;

      img,
      iframe {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $animation;
        z-index: 2;
      }

      iframe {
        opacity: 0;
      }

      .btn-play {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        transition: $animation;
        z-index: 3;
        color: white;
        pointer-events: none;
        mat-icon {
          transition: $animation;
          width: 32px;
          height: 32px;
          line-height: 32px;
          font-size: 32px;
        }
      }
    }

    &:hover {
      box-shadow: 0 16px 40px -12px rgba($color: black, $alpha: 0.9);
      .contain {
        box-shadow: 0 0 0 10px rgba($color: white, $alpha: 0.3);
        img {
          opacity: 0.5;
        }
        .btn-play {
          mat-icon {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

.video-container {
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 31;

  iframe {
    transition: all 0.5s ease;
    z-index: 31;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(10px);
  }

  .btn-close {
    z-index: 31;
    position: fixed;
    top: 2em;
    right: 2em;
    border: 1px solid rgba($color: $color_primary_500, $alpha: 1);
    z-index: 99999;
    background-color: transparent;
    border: 2px solid red;
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    @include xs{
      transform: scale(0.7);
    }

    mat-icon {
      color: red;
      transition: all 0.3s ease;
    }

    &:hover {
      transform: scale(0.9);
      background-color: red;

      mat-icon {
        transform: scale(0.8);
        color: white;
      }
    }
  }
}

.video-container-active {
  opacity: 1;
  pointer-events: all;
  z-index: 31;
  iframe {
    z-index: 31;
    filter: blur(0px);
  }
}
