
<div class="main-layout">
  <nav [ngClass]="{'nav-scrolled': scrolled, 'nav-white': router.url == '/' || router.url == '/contact', 'nav-open': isMenuOpen}">
    <div class="menu" (click)="isMenuOpen = !isMenuOpen;">
      <div id="hamburger" onclick="this.classList.toggle('open');" [ngClass]="{'open': isMenuOpen}">
        <svg width="50" height="50" viewBox="0 0 100 100">
          <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </div>
    </div>

    <a [routerLink]="['/']" class="logo">
      <img width="230px" height="47px" *ngIf="router.url != '/' && router.url != '/contact' || isMenuOpen" src="/assets/img/logos/logo.png" alt="Metacloud Logo" />
      <img width="230px" height="47px" *ngIf="router.url == '/' || router.url == '/contact' && !isMenuOpen" src="/assets/img/logos/logo-white.png" alt="Metacloud Logo" />
    </a>

    <div class="social-media">
      <a href="" target="_blank" mat-icon-button matTooltip="Medium">
        <img width="22px" height="22px" *ngIf="router.url != '/' || isMenuOpen" src="/assets/img/icons/medium-icon-black.svg" alt="Medium" />
        <img width="22px" height="22px" *ngIf="router.url == '/' || router.url == '/contact' && !isMenuOpen" src="/assets/img/icons/medium-icon.svg" alt="Medium" />
      </a>
      <a href="" target="_blank" mat-icon-button matTooltip="Discord">
        <img width="22px" height="22px" *ngIf="router.url != '/' || isMenuOpen" src="/assets/img/icons/discord-icon-black.svg" alt="Discord" />
        <img width="22px" height="22px" *ngIf="router.url == '/' || router.url == '/contact' && !isMenuOpen" src="/assets/img/icons/discord-icon.svg" alt="Discord" />
      </a>
      <a href="" target="_blank" mat-icon-button matTooltip="Telegram">
        <img width="22px" height="22px" *ngIf="router.url != '/' || isMenuOpen" src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram" />
        <img width="22px" height="22px" *ngIf="router.url == '/' || router.url == '/contact' && !isMenuOpen" src="/assets/img/icons/telegram-icon.svg" alt="Telegram" />
      </a>
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Reddit">
        <img *ngIf="router.url != '/' || isMenuOpen" src="/assets/img/icons/reddit-icon-black.svg" alt="Reddit" />
        <img *ngIf="router.url == '/' && !isMenuOpen || router.url == '/contact'" src="/assets/img/icons/reddit-icon.svg" alt="Reddit" />
      </a>
      <a href="" target="_blank" mat-icon-button matTooltip="Tiktok">
        <img *ngIf="router.url != '/' || isMenuOpen" src="/assets/img/icons/tiktok-icon-black.svg" alt="Tiktok" />
        <img *ngIf="router.url == '/' && !isMenuOpen || router.url == '/contact'" src="/assets/img/icons/tiktok-icon.svg" alt="Tiktok" />
      </a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-icon.svg" alt="Twitter"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Instagram"><img src="/assets/img/icons/instagram-icon.svg" alt="Instagram"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Facebook"><img src="/assets/img/icons/facebook-icon.svg" alt="Facebook"></a> -->
    </div>

    <div class="separate-line-vert"></div>
    <div class="sound" [ngClass]="{'sound-off': isMuted}" (click)="playAudio()" matTooltip="Stop / Play Music"><span></span><span></span><span></span><span></span></div>
    <audio loop #audio><source src="/assets/music/swedish-house-mafia-save-the-world-optimized.mp3" type="audio/mp3"></audio>
    <!-- <button mat-stroked-button class="btn-play">PLAY NOW <mat-icon>play_arrow</mat-icon></button> -->
  </nav>

  <div *ngIf="router.url == '/home'" class="video-text" (click)="isHypeVideoOpen = true;">
    <p>WATCH THE HYPE VIDEO</p>
    <mat-icon>play_circle_outline</mat-icon>
  </div>

  <div *ngIf="router.url == '/' && showMobile || isMenuOpen" class="video-miniature video-miniature2" @leaveElements>
    <img (click)="isHypeVideoOpen = true;" src="/assets/img/video-miniature.png" alt="Hype Video Miniature" matTooltip="Play Hype video" />
    <button mat-icon-button class="btn-play" (click)="isHypeVideoOpen = true;" matTooltip="Play Hype video"><mat-icon>play_arrow</mat-icon></button>
  </div>

  <div *ngIf="isMenuOpen" class="video-miniature video-miniature1" @leaveElements>
    <img (click)="isTrailerVideoOpen = true;" src="/assets/img/trailer-video-miniature.png" alt="Trailer Miniature" matTooltip="Play Trailer video" />
    <button mat-icon-button class="btn-play" (click)="isTrailerVideoOpen = true;" matTooltip="Play Trailer video"><mat-icon>play_arrow</mat-icon></button>
  </div>

  <router-outlet></router-outlet>
</div>

<app-nav-menu [isMenuOpen]="isMenuOpen" (closeMenu)="closeMenu($event)"></app-nav-menu>

<div *ngIf="isHypeVideoOpen" class="video-container" @leaveElements>
  <iframe width="100%" height="100vh" src="https://www.youtube.com/embed/gElfIo6uw4g?start=74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <button mat-icon-button mat-dialog-close class="btn-close" (click)="isHypeVideoOpen = false;"><mat-icon>close</mat-icon></button>
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="isTrailerVideoOpen" class="video-container" @leaveElements>
  <iframe width="100%" height="100vh" src="https://www.youtube.com/embed/afdnbXXbBTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <button mat-icon-button mat-dialog-close class="btn-close" (click)="isTrailerVideoOpen = false;"><mat-icon>close</mat-icon></button>
  <mat-spinner></mat-spinner>
</div>
