@import '../../../assets/styles/_vars.scss';

.contact-section{
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  @include lt-md{
    padding: 6em 0;
  }

  .container{
    z-index: 6;
  }

  .row{
    display: flex;
    gap: 5em;
    @include lt-md{
      flex-direction: column;
      gap: 3em;
    }

    h2,p, mat-checkbox{
      color: white;
    }
  }

  .row-errors{
    margin-bottom: 0.5em;
    gap: 1em;

    p{
      color: red;
      font-size: 0.8em;
    }
  }

  .texts{
    width: 360px;
    margin-right: 4em;
  }

  .form{
    margin-top: 3em;
    @include lt-md{
      margin-top: 0em;
    }

    .input{
      width: 50%;
      box-sizing: border-box;
      @include lt-md{
        width: 100%;
      }
      label{
        color: white;
      }
      input, textarea{
        box-sizing: border-box;
        color: white;
        margin-top: 0.5em;
        width: 100%;
        padding: 1em;
        border-radius: 200px;
        border: 1px solid rgba($color: white, $alpha: 0.15);
        background: radial-gradient(rgba($color: #bbbbbb, $alpha: 0.15), rgba($color: #bbbbbb, $alpha: 0.3));
        transition: $animation;
        -o-transition: $animation;
        -moz-transition: $animation;
        -webkit-transition: $animation;
        font-size: 0.9em;
        font-weight: 400;
        font-family: $font_text;
        letter-spacing: 0.25px;
        &:hover{
          border: 1px solid rgba($color: white, $alpha: 0.4);
          background: radial-gradient(rgba($color: #bbbbbb, $alpha: 0.15), rgba($color: #bbbbbb, $alpha: 0.1));
        }
      }
    }

    .textarea{
      margin-top: 3em;
      margin-bottom: 1em;
      width: 100%;
      textarea{
        border-radius: 16px;
      }
    }

    mat-checkbox{
      margin-right: auto;
      &::ng-deep .mat-checkbox-frame{
        border-color: rgba($color: white, $alpha: 0.6);
        border-radius: 200px;
      }
      &::ng-deep .mat-checkbox-background{
        border-radius: 200px;
      }
    }

    .btn-send{
      color: white;
      font-size: 1.2em;
      background-color: rgba($color: white, $alpha: 0.0);
      transition: $animation;
      border-radius: 200px;
      mat-icon{
        color: $color_primary_500;
        font-size: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        transform: scaleY(-100%);
      }
      &:hover{
        background-color: rgba($color: white, $alpha: 0.1);
      }
    }
  }

  mat-form-field{
    width: 100%;
  }
}
