<div class="contact-section">
  <div class="container">

    <div class="row">
      <div class="texts">
        <h2><b>Get in touch with us</b></h2>
        <p>Share your proposals, ideas and comments with us. We are looking forward for them.</p>
      </div>

      <form class="form" [formGroup]="contactForm">
        <div class="row">
          <div class="input">
            <label>Email adress</label>
            <input formControlName="email" placeholder="steve@meta-cloud.io" type="text" required />
          </div>
          <div class="input">
            <label>Subject</label>
            <input formControlName="subject" placeholder="Marketing" type="text" required />
          </div>
        </div>

        <div class="input textarea">
          <label>Message</label>
          <textarea formControlName="message" rows="10" required placeholder="Write your message..."></textarea>
        </div>

        <!-- <div *ngIf="true" class="row row-errors">
          *{{'Email address'}} is required.
        </div> -->

        <!-- <div *ngIf="errors.length > 0" class="row row-errors">
          <small *ngFor="let err of errors" class="text-danger">
              {{ err.control }}
          </small>
        </div> -->

        <div class="row">
          <mat-checkbox formControlName="is_add_newsletter"><small>I accept subscribe to Newsletter</small></mat-checkbox>
          <button mat-button class="btn-send" (click)="onClickSubmit()">SEND <mat-icon>shortcut</mat-icon></button>
        </div>
      </form>
    </div>

  </div>
</div>
