<div class="lines-speed" [ngClass]="{'lines-speed-active': clickToStart}">
  <div class="g-group">
      <div class="item item-right"></div>
      <div class="item item-left"></div>
      <div class="item item-top"></div>
      <div class="item item-bottom"></div>
      <div class="item item-middle"></div>
  </div>
  <div class="g-group">
      <div class="item item-right"></div>
      <div class="item item-left"></div>
      <div class="item item-top"></div>
      <div class="item item-bottom"></div>
      <div class="item item-middle"></div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br>


<button mat-stroked-button (click)="clickToStart = true;">Click to Start</button>
<button mat-stroked-button (click)="activeBlink = !activeBlink;">Active Blink animation</button>

<!-- <div class="blink"></div> -->

<video *ngIf="activeBlink" src="/assets/videos/blink-video.mp4" autoplay muted class="blink-video"></video>

<section class="section1">
  <div class="container">
    <h1 class="display2">
      <span>YOU </span>
      <span>ARE </span>
      <span>MEANT </span>
      <span>TO </span>
      <span>BE </span>
      <span>AMAZING</span>
    </h1>
    <p>EXPLORE AND DISCOVER METACLOUD</p>

    <div class="scroll-down">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>

<app-contact-section></app-contact-section>
