@import "../../../assets/styles/vars";

@keyframes letterSpacingHeightH2 {
  0% {
    line-height: 3;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.3;
    opacity: 1;
  }
}

@-o-keyframes letterSpacingHeightH2 {
  0% {
    line-height: 3;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.3;
    opacity: 1;
  }
}
@-webkit-keyframes letterSpacingHeightH2 {
  0% {
    line-height: 3;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.3;
    opacity: 1;
  }
}
@-moz-keyframes letterSpacingHeightH2 {
  0% {
    line-height: 3;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.3;
    opacity: 1;
  }
}

@keyframes letterSpacingHeightParagraph {
  0% {
    line-height: 6;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.7;
    opacity: 1;
  }
}
@-o-keyframes letterSpacingHeightParagraph {
  0% {
    line-height: 6;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.7;
    opacity: 1;
  }
}
@-webkit-keyframes letterSpacingHeightParagraph {
  0% {
    line-height: 6;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.7;
    opacity: 1;
  }
}
@-moz-keyframes letterSpacingHeightParagraph {
  0% {
    line-height: 6;
    opacity: 0;
    filter: blur(30px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    line-height: 1.7;
    opacity: 1;
  }
}

@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@-o-keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@-webkit-keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@-moz-keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}

@keyframes introEvents {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes introEvents {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes introEvents {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes introEvents {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
    -o-transform: 0, -0px;
    -ms-transform: 0, -0px;
    -moz-transform: 0, -0px;
    -webkit-transform: 0, -0px;
  }
}
@-o-keyframes floating {
  from {
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
    -o-transform: 0, -0px;
    -ms-transform: 0, -0px;
    -moz-transform: 0, -0px;
    -webkit-transform: 0, -0px;
  }
}
@-webkit-keyframes floating {
  from {
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
    -o-transform: 0, -0px;
    -ms-transform: 0, -0px;
    -moz-transform: 0, -0px;
    -webkit-transform: 0, -0px;
  }
}
@-moz-keyframes floating {
  from {
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
    -o-transform: 0, -0px;
    -ms-transform: 0, -0px;
    -moz-transform: 0, -0px;
    -webkit-transform: 0, -0px;
  }
}

@keyframes introFloatElements {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
@-o-keyframes introFloatElements {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
@-webkit-keyframes introFloatElements {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
@-moz-keyframes introFloatElements {
  from {
    opacity: 0;
    filter: blur(30px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.indicators {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  top: 50%;
  left: 2.8em;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 10;
  &::-webkit-scrollbar { display: none; }
  @include xs {
    top: 0;
    left: 0em;
    max-height: calc(100vh - 60px);
    transform: translateY(0) scale(0.8);
    -o-transform: translateY(0) scale(0.8);
    -ms-transform: translateY(0) scale(0.8);
    -moz-transform: translateY(0) scale(0.8);
    -webkit-transform: translateY(0) scale(0.8);
  }
  @include sm {
    top: 40px;
    left: 1em;
    max-height: calc(100vh - 160px);
    transform: translateY(0) scale(0.9);
    -o-transform: translateY(0) scale(0.9);
    -ms-transform: translateY(0) scale(0.9);
    -moz-transform: translateY(0) scale(0.9);
    -webkit-transform: translateY(0) scale(0.9);
  }
  @include md {
    top: 40px;
    left: 2.8em;
    max-height: calc(100vh - 115px);
    transform: translateY(0) scale(0.9);
    -o-transform: translateY(0) scale(0.9);
    -ms-transform: translateY(0) scale(0.9);
    -moz-transform: translateY(0) scale(0.9);
    -webkit-transform: translateY(0) scale(0.9);
  }

  div {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin: 1em;
    cursor: pointer;
    transition: $animation;
    -o-transition: $animation;
    -moz-transition: $animation;
    -webkit-transition: $animation;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      &::after {
        display: none;
      }
    }

    span {
      font-size: 0.8em;
      font-weight: 600;
    }

    .figure {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0px;
      height: 0px;
      border-radius: 50px;
      border: 1px solid $color_primary_500;
      transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      opacity: 0;
      transition: $animation;
      -o-transition: $animation;
      -moz-transition: $animation;
      -webkit-transition: $animation;
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 22px;
      height: 22px;
      transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border: 2px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -28px;
      left: 11px;
      height: calc(100% - 1px);
      width: 0px;
      border: 1px dashed rgba($color: #000000, $alpha: 0.2);
    }

    &:hover {
      color: $color_primary_500;
    }
  }

  .active {
    .figure {
      width: 34px;
      height: 34px;
      opacity: 0.3;
    }
    &::before {
      border-color: $color_primary_500 !important;
    }
    /* &::after {
      border-color: $color_primary_500 !important;
    } */
  }
}

.home-page {
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
  position: relative;
  background-color: #fff2ea;

  .banner-position{
    position: fixed;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    pointer-events: none;
    border-radius: 8px;
    overflow: hidden;
    width: 1000px;
    max-width: 90%;
    animation: introFloatElements 0.5s ease-out;
    -o-animation: introFloatElements 0.5s ease-out;
    -moz-animation: introFloatElements 0.5s ease-out;
    -webkit-animation: introFloatElements 0.5s ease-out;
    display: flex;

    img{
      width: 100%;
    }

    @include xs{
      bottom: 0;
      width: 100%;
      max-width: 100%;
      border-radius: 0;
      img{
        bottom: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    @include sm{
      max-width: calc(100% - 2em);
      bottom: 1em;
    }

    @include md{
      bottom: 1em;
    }
  }

  .background-lights {
    border-radius: 50px;
    filter: blur(80px);
    position: fixed;
    z-index: 0;
    pointer-events: none;
    opacity: 0.3;
  }

  .light1 {
    top: -300px;
    left: -100px;
    width: 250px;
    height: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 1200px solid #fc097e;
    transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
  }

  .light2 {
    top: -550px;
    left: 300px;
    width: 250px;
    height: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 1200px solid #594d9f;
    transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
  }

  .light3 {
    top: -550px;
    right: 400px;
    width: 250px;
    height: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 1200px solid #328bcd;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  .light4 {
    top: -300px;
    right: -200px;
    width: 250px;
    height: 0px;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 1200px solid #fc4409;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  .background-noise {
    background-image: url("/assets/img/patterns/pattern-noise.png");
    background-repeat: repeat;
    mix-blend-mode: soft-light;
    opacity: 0.25;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    pointer-events: none;

    .line {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          #ffffff 75%,
          #ffffff 100%
        );
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      }

      &:nth-child(1) {
        margin-left: -40%;
        &::after {
          animation-delay: 2s;
        }
      }
      &:nth-child(2) {
        margin-left: -15%;
        &::after {
          animation-delay: 2.5s;
        }
      }
      &:nth-child(3) {
        margin-left: 15%;
        &::after {
          animation-delay: 3s;
        }
      }
      &:nth-child(4) {
        margin-left: 40%;
        &::after {
          animation-delay: 3.5s;
        }
      }
    }
  }
}

model-viewer {
  --poster-color: transparent;
}

/* .avatar-corner {
  width: 200px;
  height: 250px;
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 9;
  @include xs{
    display: none;
  }
} */

.avatar-primary {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  position: fixed;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.avatar-step-a,
.avatar-step-c,
.avatar-step-e,
.movement7,
.movement8,
.avatar-step-i,
.movement10,
.movement11 {
  filter: blur(40px);
  opacity: 0.5;
  pointer-events: none;
}

.avatar-step-b {
  left: 20%;
  top: 5%;
  z-index: 3;
  @include xs {
    left: 0%;
    top: -10%;
  }
  @include sm {
    left: 30%;
    top: 0%;
  }
  @include md{
    left: 30%;
  }
}

.avatar-step-d {
  left: 20%;
  @include xs {
    left: 0%;
  }
}

.avatar-step-f {
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 8;
  max-height: calc(100vh - 164px);
  background-color: white;
  margin: auto;
  @include lt-md{
    max-height: 100%;
  }
}

.section,
app-step-g,
app-step-h,
app-step-j,
app-step-k {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 8em;
  /* pointer-events: none; */

  @include xs {
    padding: 0 1em;
  }

  @include sm {
    box-sizing: border-box;
    padding-right: 1em;
    padding-left: 6em;
    left: 0 !important;
  }

  h2 {
    animation: letterSpacingHeightH2 1.5s ease;
    line-height: 1.3;
    font-size: 3em;
    width: 700px;
    max-width: 90%;
    pointer-events: all;
    position: relative;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    @include xs {
      font-size: 2em;
      max-width: 100%;
    }
    @include sm {
      font-size: 2.3em;
    }
  }

  p {
    animation: letterSpacingHeightParagraph 1.5s ease;
    line-height: 1.7;
    width: 500px;
    max-width: 90%;
    pointer-events: all;
    font-size: 1.3em;
    position: relative;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }

  .btn-change {
    position: fixed;
    bottom: 5em;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    pointer-events: all;
  }
}

.texts-left {
  top: 20vh;
  left: 10vw;
}

.texts-right {
  top: 20vh;
  left: calc(80vw - 600px);
}

.texts-center {
  text-align: center;
  top: 33%;
  h2 {
    margin: auto;
  }
  p {
    margin: auto;
  }
}





.step-d {
  top: 15%;
  @include xs {
    height: initial;
    top: initial;
    bottom: 5em;
    left: 4em;
  }

  h2 {
    text-align: left;
    font-size: 4em;
    @include xs {
      font-size: 3em;
      left: 0;
      width: calc(100% - 4em);
      text-shadow: 0 0 9px #fa9898;
      &:nth-of-type(1){
        bottom: -40px;
      }
      &:nth-of-type(2){
        bottom: -20px;
      }
    }
    b {
      cursor: pointer;
      color: $black_high_emphasis;
      &:hover {
        color: $color_primary_500;
      }
    }
    .hover-linear {
      &:after {
        transform: scaleX(0.2);
        -o-transform: scaleX(0.2);
        -ms-transform: scaleX(0.2);
        -moz-transform: scaleX(0.2);
        -webkit-transform: scaleX(0.2);
        transform-origin: bottom left;
        -o-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -webkit-transform-origin: bottom left;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
          -o-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -webkit-transform: scaleX(1);
          transform-origin: bottom left;
          -o-transform-origin: bottom left;
          -ms-transform-origin: bottom left;
          -moz-transform-origin: bottom left;
          -webkit-transform-origin: bottom left;
        }
      }
    }
  }

  .caption {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    font-size: 0.9em;
    @include xs {
      bottom: initial;
      top: 5em;
      width: 70%;
    }
    @include sm{
      display: none;
    }
    span {
      &:last-of-type {
        display: none;
      }
      @include xs {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: inline-block;
        }
      }
    }
  }

  .floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    pointer-events: none;
  }

  .img-table-poker {
    position: fixed;
    top: 52%;
    right: 20%;
    animation: introFloatElements 0.5s ease-out;
    @include xs {
      right: initial;
      left: calc(50% - 160px);
      width: 90px;
      display: none;
    }
    @include sm{
      right: initial;
      left: 46%;
      width: 240px;
    }
  }

  .img-joker {
    position: fixed;
    top: 40%;
    right: 15%;
    animation: introFloatElements 0.4s ease-out,
      floating 5.5s infinite ease-in-out;
    @include xs {
      right: initial;
      left: 10%;
      top: 22%;
      width: 80px;
    }
    @include sm {
      right: 10%;
      width: 80px;
    }
  }

  .img-headphones {
    position: fixed;
    top: 20%;
    right: 40%;
    animation: introFloatElements 0.4s ease-out, floating 5.5s infinite ease-in-out;
    @include sm {
      right: initial;
      left: 6%;
      width: 90px;
    }
    @include sm{
      width: 90px;
      right: 40% !important;
      left: initial !important;
    }
  }

  .img-microphone {
    position: fixed;
    top: 40%;
    right: 15%;
    animation: introFloatElements 0.6s ease-out,
      floating 5s infinite ease-in-out;
    @include lt-md {
      right: 10%;
      width: 80px;
    }
  }
}

.texts7 {
  @include xs {
    top: 50%;
    left: 10%;
    width: 90%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  h2 {
    width: 1050px;
    @include xs {
      width: 100%;
      z-index: 8;
    }
  }
}

.texts8 {
  @include xs {
    top: 50%;
    left: 10%;
    width: 90%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  h2 {
    width: 1050px;
    @include xs {
      width: 100%;
      z-index: 8;
    }
  }
}



.video-music-wave {
  position: fixed;
  top: 15%;
  right: 11%;
  mix-blend-mode: color-dodge;
  animation: introFloatElements 0.5s ease-out;
  @include lt-md {
    width: 300px;
    top: 50%;
    left: 50%;
    right: initial;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  @include sm{
    left: 75%;
  }
}

.video-cards-float {
  width: 600px;
  position: fixed;
  top: 25%;
  right: 28%;
  mix-blend-mode: difference;
  animation: introFloatElements 0.5s ease-out;
  @include xs {
    width: 500px;
    top: 50%;
    left: 50%;
    right: initial;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  @include sm{
    width: 400px;
    right: 15%;
  }
}

.img-idea {
  mix-blend-mode: multiply;
  position: fixed;
  top: 0%;
  right: 30%;
  width: 500px;
  animation: introFloatElements 0.4s ease-out,
    floating 5.5s infinite ease-in-out;
  @include lt-md {
    width: 400px;
    top: calc(50% - 300px);
    left: calc(50% - 100px);
    right: initial;
  }
}



app-step-a,
app-step-b,
app-step-c,
app-step-d,
app-step-e,
app-step-f,
app-step-i{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

app-step-b{
  z-index: 5;
  pointer-events: none;
}

app-step-f {
  z-index: 30;
  pointer-events: none;
}

.new-section{
  position: fixed;
  top: 48%;
  left: 50%;
  width: 1000px;
  max-width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 3;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;

  @include xs{
    top: 50%;
    padding-top: 54px;
    padding-bottom: 17%;
    padding-left: 52px;
    padding-right: 1em;
  }

  @include sm{
    top: 50%;
    padding-top: 95px;
    padding-bottom: 95px;
    padding-left: 82px;
    padding-right: 24px;
  }

  @include md{
    padding-left: 124px;
    padding-right: 3em;
  }

  h2{
    width: 100%;
    max-width: 100%;
    font-weight: 600;
    animation: letterSpacingHeightH2 1.5s ease;
    line-height: 1.3;
    font-size: 3em;
    pointer-events: all;
    position: relative;

    @include xs {
      font-size: 4vh;
      max-width: 100%;
    }

    @include sm {
      font-size: 5vh;
    }
  }
}

.section-text-left{
  text-align: left;

  h2{
    width: 700px;
    max-width: 100%;
    @include xs{
      margin-top: auto;
    }
  }
}






/* @media only screen
  and (min-device-width: 600px)
  and (max-device-width: 812px)
  and (orientation: landscape) {
    .home-page{
      background-color: red !important;
    }
} */

@media only screen and (max-height: 600px) {
  .banner-position{
    display: none !important;
  }

  .indicators {
    top: calc(50% + 40px);
    max-height: calc(100vh - 70px);
    @include xs{
      top: 20px;
      max-height: calc(100vh + 20px);
    }
    @include sm{
      top: 50px;
      max-height: calc(100vh - 30px);
    }
    @include md{
      top: 50px;
      max-height: calc(100vh - 30px);
    }
  }

  .section{
    bottom: 0;
  }

  .new-section{
    top: 50%;
    padding-top: 50px;
    @include xs{
      padding-bottom: 2em;
    }
    @include sm{
      padding-top: 70px;
      padding-bottom: 19px;
      padding-left: 82px;
      padding-right: 24px;
    }
    @include md{
      padding-top: 50px;
    }
    h2{
      font-size: 8vh;
      @include xs {
        font-size: 5vh;
      }
      @include sm {
        font-size: 7vh;
      }
    }
  }

  .section-text-left{
    text-align: left;

    @include xs{

    }

    h2{
      @include xs{
        margin-bottom: 0;
      }
    }
  }

  .avatar-step-b {
    @include sm {
      top: 10%;
    }
  }

  .avatar-step-d {
    @include sm {
      top: 10%;
    }
    @include md {
      top: 10%;
    }
  }

  .step-d{
    h2{
      font-size: 10vh;
      @include xs{
        font-size: 8vh;
      }
    }
  }
}
