<div class="home-page" (mousemove)="onMousewheel($event)">
  <div class="background-noise"></div>
  <div class="background-lights light1"></div>
  <div class="background-lights light2"></div>
  <div class="background-lights light3"></div>
  <div class="background-lights light4"></div>

  <div class="indicators">
    <div [ngClass]="{'active': pageState == 0}" (click)="activeSection1()"><span>1</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 1}" (click)="activeSection2()"><span>2</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 2}" (click)="activeSection3()"><span>3</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 3}" (click)="activeSection4()"><span>4</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 4}" (click)="activeSection5()"><span>5</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 5}" (click)="activeSection6()"><span>6</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 6}" (click)="activeSection7()"><span>7</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 7}" (click)="activeSection8()"><span>8</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 8}" (click)="activeSection9()"><span>9</span><span class="figure"></span></div>
    <div [ngClass]="{'active': pageState == 9}" (click)="activeSection10()"><span>10</span><span class="figure"></span></div>
  </div>

  <!-- <section *ngIf="pageState == 0" class="header-section">
    <div class="container">
      <h1 class="display2">
        <span>YOU </span>
        <span>ARE </span>
        <span>MEANT </span>
        <span>TO </span>
        <span>BE </span> <br>
        <span>AMAZING</span>
      </h1>
      <p>EXPLORE AND DISCOVER METACLOUD</p>

      <div class="scroll-down">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="circles" *ngIf="introCircles">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4"></div>
      </div>
    </div>
  </section> -->

  <section *ngIf="pageState == 0" [@paragraphAnimation]="'state'" class="texts texts-center texts1">
    <h2 class="display3"><b>Escape to a Metaverse. Jump into a social world of creativity, discovery and exploration while connecting with people globally through the integration of land ownership, gaming and NFTs!</b></h2>
    <div class="scroll-down">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>

  <section *ngIf="pageState == 1" [@paragraphAnimation]="'state'" class="texts texts-left texts2">
    <h2 class="display3"><b>Shop hundreds of live events! Discover your favorite artists, concerts, theater events, games and more.</b></h2>
  </section>

  <section *ngIf="pageState == 2" [@paragraphAnimation]="'state'" class="texts texts-left texts3">
    <h2 class="display2"><b>Events</b></h2>
    <div class="events">
      <div class="event" *ngFor="let event of events">
        <img src="{{ event.image }}" alt="{{ event.name }} image" class="image" />
        <h3><b>{{ event.title }}</b></h3>
        <p>{{ event.description }}</p>
      </div>
    </div>
  </section>

  <section *ngIf="pageState == 3" class="texts texts-left texts4">
    <h2 class="texts3 display2"><span></span><b class="link hover-linear">GAMES</b></h2>
    <h2 *ngIf="section3text2" class="texts3 display2" (click)="activeMusic()"><span></span> <b class="link hover-linear">MUSIC</b></h2>
    <h2 *ngIf="section3text3" class="texts3 display2"><span></span><b class="link hover-linear">CREATIVITY</b></h2>

    <img src="/assets/img/headphones.png" alt="Headphones" class="floating img-headphones" />
    <img src="/assets/img/microphone.png" alt="Microphone" class="floating img-microphone" />
  </section>

  <section *ngIf="pageState == 4" class="texts texts-center texts5">
    <h2 class="texts3 display3"><b>Artists, influencers, musicians and YOU can own a piece of land in Metacloud and live stream events or shows, publish content, and request monetary patronage from fans for exlusive access</b></h2>
  </section>

  <section *ngIf="pageState == 5" class="texts texts6">
    <button mat-stroked-button color="primary" (click)="changeScene()">Change scene</button>
  </section>

  <section *ngIf="pageState == 6" class="texts texts-center texts7">
    <h2 class="display3">As you embark your journey on ownership through metacloud, you can monetize when people attend your galleries, live concerts, and private parties. The possibilities are endless.</h2>
  </section>

  <section *ngIf="pageState == 7" class="texts texts-center texts8">
    <h2 class="display3">Unlock new experiences with anyone from anywhere - Share moments with eachother at a beachside campfire or learn how to sculpt with family from different parts of the world. Distance is no obstacle with metacloud</h2>
  </section>

  <section *ngIf="pageState == 8" class="texts texts-left texts9">
    <h2 class="display3">Buy, sell, trade your own piece of land in Metacloud!</h2>
    <p>*(Include image for land plots from pitch deck)</p>
  </section>

  <section *ngIf="pageState == 9" class="texts texts-center texts10">
    <h2 class="display3">Harness The Freedom To Evolve</h2>
    <div class="buttons">
      <button mat-flat-button>
        <span>PLAY NOW</span>
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button mat-stroked-button class="buttons">
        <span>White paper</span>
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="social-media component-animation">
      <a href="" target="_blank" mat-icon-button matTooltip="Medium"><img src="/assets/img/icons/medium-icon-black.svg" alt="Medium"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Discord"><img src="/assets/img/icons/discord-icon-black.svg" alt="Discord"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Reddit"><img src="/assets/img/icons/reddit-icon-black.svg" alt="Reddit"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Tiktok"><img src="/assets/img/icons/tiktok-icon-black.svg" alt="Tiktok"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-icon.svg" alt="Twitter"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Instagram"><img src="/assets/img/icons/instagram-icon.svg" alt="Instagram"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Facebook"><img src="/assets/img/icons/facebook-icon.svg" alt="Facebook"></a> -->
    </div>
  </section>











  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <model-viewer
    #modelAvatarPrimary
    alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum"
    src="assets/models/daft_update.glb"
    shadow-intensity="2"
    shadow-softness="1"
    exposure="1"
    disable-zoom
    camera-controls
    camera-orbit="-45deg 55deg"
    orbit-sensivity="20"
    autoplay
    animation-name="wave"
    interpolation-decay="300"
    class="avatar-primary"
    [ngClass]="{'movement1' : pageState == 0,
                'movement2' : pageState == 1,
                'movement3' : pageState == 2,
                'movement4' : pageState == 3,
                'movement5' : pageState == 4,
                'movement6' : pageState == 5,
                'movement7' : pageState == 6,
                'movement8' : pageState == 7,
                'movement9' : pageState == 8,
                'movement10': pageState == 9}">
  </model-viewer>

  <model-viewer
    #modelAvatarCorner
    alt="An animate 3D model of a robot"
    src="assets/models/avatarmotions01.glb"
    shadow-intensity="1"
    shadow-softness="1"
    exposure="1"
    disable-zoom
    camera-orbit="-45deg 55deg"
    camera-controls="true"
    interpolation-decay="200"
    autoplay
    animation-name="dance"
    class="avatar-corner"
    style="display: none !important;"
    (click)="avatarCornerHi()">
  </model-viewer>

  <model-viewer
    #modelSpaceship
    alt="Intergalactic spaceship"
    src="assets/models/intergalactic-spaceship.glb"
    shadow-intensity="1"
    shadow-softness="1"
    exposure="1"
    disable-zoom
    camera-orbit="-45deg 55deg"
    camera-controls
    interpolation-decay="200"
    autoplay
    animation-name=""
    class="model-spaceship intro-component-animation"
    [ngClass]="{'model-spaceship-active': pageState == 3}">
  </model-viewer>

</div>
