@import "../../../../../assets/styles/vars";

.home-page{
  h1{
    margin: 0;
  }

  mat-divider{
    margin: 2em 0;
  }
}

.cards{
  display: flex;
  gap: 1em;
  margin-top: 2em;

  .card{
    background-color: $color_accent_700;
    width: calc(33.3% - 0.5em);
    color: white;
    font-weight: 400;
    padding: 1em;
    height: 100px;
    box-sizing: border-box;
    transition: $animation;
    box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: 0.0);

    h4{
      margin: 0;
    }

    p{
      margin: 0;
      font-weight: 400;
    }

    &:hover{
      background-color: $color_accent_800;
      box-shadow: 0 5px 15px 0 rgba($color: #000000, $alpha: 0.5);
    }
  }
}
