<div class="event-detail-page intro-component-animation">
  <div class="container">
    <a mat-stroked-button [routerLink]="['/events']"><mat-icon>arrow_back</mat-icon> Back to events</a>

    <drag-scroll #carousel [drag-scroll-y-disabled]="true">
      <img drag-scroll-item src="/assets/hdr/bonfire-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/casino-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/concert-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/museo-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/nieve-optimized.jpg" />
      <div class="indicators">
        <button (click)="moveLeft()" mat-icon-button color="primary"><mat-icon>arrow_back</mat-icon></button>
        <button (click)="moveRight()" mat-icon-button color="primary"><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </drag-scroll>

    <h1>Revolutionizing the event industry</h1>
    <p>One of the biggest benefits of the metacloud is the money-making opportunities, and there will be plenty of monetization opportunities for those who are willing to create and host amazing virtual experiences. VIP access to events will be possible to grant and control. At metacloud you will be the creator of private or public venues on your own terms.</p>
    <p>Your creative ideas will just be limitless! pick color, lighting, furniture, and everything else to your exact taste. The builder will be your perfect ally.</p>
    <p>In metacloud, engagement levels and audience participation can achieve amazing numbers. Attendees engage in shared experiences using stunning avatars, and they are co-present in the same spaces, but with each participant creating memories from their own unique and personal experience. They will be able to dance, talk, share, comment walk and much more!</p>
    <p>Adding to this, attendance to the coolest LIVE concerts, parties, art galleries will be also possible for you and your friends! Stay tuned, big announcements are coming soon!</p>
  </div>

</div>
