<div class="event-detail-page intro-component-animation">
  <div class="container">
    <a mat-stroked-button [routerLink]="['/events']"><mat-icon>arrow_back</mat-icon> Back to events</a>

    <drag-scroll #carousel [drag-scroll-y-disabled]="true">
      <img drag-scroll-item src="/assets/hdr/bonfire-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/casino-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/concert-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/museo-optimized.jpg" />
      <img drag-scroll-item src="/assets/hdr/nieve-optimized.jpg" />
      <div class="indicators">
        <button (click)="moveLeft()" mat-icon-button color="primary"><mat-icon>arrow_back</mat-icon></button>
        <button (click)="moveRight()" mat-icon-button color="primary"><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </drag-scroll>

    <h1>asd sakjdsalkd jsald asj dñlaksjdalñskdj</h1>

    <p>asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd v asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd v</p>

    <p>asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd vasd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd  asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd asd sakjdsalkd jsald asj dñlaksjdalñskdj asldñajs ñdlsajsñald jsalkñd v</p>
  </div>
</div>
