@import "../../home.component.scss";

.step-c {
  flex-direction: column;
  justify-content: center;
  width: 1400px;
  gap: 1em;

  h2 {
    font-size: 4em;
  }

  .events {
    z-index: 8;
    display: flex;
    gap: 1em;
    max-width: calc(100% - 14em);
    overflow-x: auto;
    overflow-y: visible;

    @include lt-lg {
      max-width: 100%;
    }

    .event {
      height: 400px;
      max-height: 40vh;
      min-width: 200px;
      border-radius: 1em;
      overflow: hidden;
      width: calc(20% - 1em);
      text-align: center;
      margin-bottom: 2em;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 2em 1em;
      box-sizing: border-box;
      font-size: 0.9em;
      animation: introEvents 0.5s ease;
      transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      z-index: 8;
      top: 0;
      box-shadow: 0 0px 0px 0px rgba($color: #000000, $alpha: 0);
      text-decoration: none;

      &:hover {
        top: -1em;
        box-shadow: 0 10px 40px -5px rgba($color: #000000, $alpha: 0.5);
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
          rgba($color: #283064, $alpha: 0),
          rgba($color: #283064, $alpha: 1) 60%
        );
        z-index: 2;
        pointer-events: none;
      }

      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      h3 {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        font-size: 2em;
        animation: letterSpacingHeightH2 1.5s ease;
      }

      p {
        font-weight: 600;
        font-size: 0.9em;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media only screen and (max-height: 600px) {
  .step-c {
    h2 {
      font-size: 10vh;
    }
    .events {
      .event {
        min-width: 300px;
        min-height: initial;
        height: 40vh;
      }
    }
  }
}
