<section class="section texts-center texts10">
  <h2 class="display3">Harness The Freedom To Evolve</h2>

  <div class="videos">
    <app-video-element [title]="'Play Hype video'" [miniature]="'/assets/img/video-miniature.png'" [url]="'https://www.youtube.com/embed/h1-0NZAqz4o'"></app-video-element>
    <app-video-element [title]="'Play Trailer video'" [miniature]="'/assets/img/trailer-video-miniature.png'" [url]="'https://www.youtube.com/embed/WXN5C-Kqkis'"></app-video-element>
  </div>
</section>
