<section class="section texts-center texts10">
  <h2 class="display3">Harness The Freedom To Evolve</h2>
  <!-- <div class="buttons">
    <button mat-flat-button>
      <span>PLAY NOW</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
    <button mat-stroked-button class="buttons">
      <span>White paper</span>
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div> -->

  <!-- <mat-divider></mat-divider> -->

  <!-- <div class="social-media component-animation">
    <a href="https://medium.com/@themetacloud" target="_blank" mat-icon-button matTooltip="Medium"><img src="/assets/img/icons/medium-icon-black.svg" alt="Medium"></a>
    <a href="" target="_blank" mat-icon-button matTooltip="Discord"><img src="/assets/img/icons/discord-icon-black.svg" alt="Discord"></a>
    <a href="https://t.me/themetacloud" target="_blank" mat-icon-button matTooltip="Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
  </div> -->

  <div class="videos">
    <div class="video-miniature video-miniature2">
      <div class="contain">
        <img src="/assets/img/video-miniature.png" alt="Hype Video Miniature" matTooltip="Play Hype video" />
        <button mat-icon-button class="btn-play" matTooltip="Play Hype video"><mat-icon>play_arrow</mat-icon></button>
      </div>
    </div>

    <div class="video-miniature video-miniature1">
      <div class="contain">
        <img src="/assets/img/trailer-video-miniature.png" alt="Trailer Miniature" matTooltip="Play Trailer video" />
        <button mat-icon-button class="btn-play" matTooltip="Play Trailer video"><mat-icon>play_arrow</mat-icon></button>
      </div>
    </div>
  </div>
</section>
