<section class="section texts-center texts11">
  <!-- <img src="/assets/img/partners-coming-soon-mobile-optimized.png" alt="Background Logos" class="floating" />
  <img src="/assets/img/partners-coming-soon-optimized.png" alt="Background Logos" class="floating" /> -->
  <h2 class="display3">Our partners</h2>
  <p><small>Partnerships/marketing</small></p>

  <div class="logos">
    <div class="logo animated" *ngFor="let logo of logos">
      <img src="/assets/img/partners/{{ logo.img }}" alt="{{ logo.title }}" />
    </div>
  </div>
</section>
