<section class="section texts-center step-k">
  <h2 class="display3">Our partners</h2>
  <p><small>Partnerships/marketing</small></p>

  <div class="logos">
    <div class="logo animated" *ngFor="let logo of logos">
      <img src="/assets/img/partners/{{ logo.img }}" alt="{{ logo.title }}" />
    </div>
  </div>
</section>

<!-- <section class="new-section section texts-center step-k">
  <h2 class="display3">Our partners</h2>
  <p><small>Partnerships/marketing</small></p>

  <div class="logos">
    <div class="logo animated" *ngFor="let logo of logos">
      <img src="/assets/img/partners/{{ logo.img }}" alt="{{ logo.title }}" />
    </div>
  </div>
</section> -->
