@import "../../home.component.scss";

.step-k {
  top: 20%;
  @include xs {
    top: 70px;
    padding-left: 3em;
    box-sizing: border-box;
  }
  @include md{
    top: 20%;
  }

  h2 {
    width: 100%;
    font-size: 4em;

    @include xs {
      font-size: 5vh;
      max-width: 100%;
    }

    @include sm {
      font-size: 5vh;
    }
  }

  p{
    font-weight: 600;
    margin-top: -15px;
    @include xs{
      margin-top: 0;
    }
  }

  .logos {
    width: 90%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    @include xs {
      width: 100%;
      gap: 1em;
      margin-top: 2em;
    }
    @include sm {
      width: 100%;
      gap: 1em;
      margin-top: 1em;
    }
    @include md {
      width: 100%;
      margin-top: 2em;
    }

    .logo {
      position: relative;
      animation: introFloatElements 1s ease-out;
      height: 9vh;
      @include xs{
        height: 6vh;
      }
      @include sm{
        width: calc(33.3% - 1em);
        height: 8vh;
      }
      @include md{
        width: calc(25% - 1.5em);
        height: 8vh;
      }
      @include lg{
        width: calc(20% - 1.66em);
        height: 8vh;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 2;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 3px;
        filter: blur(10px);
        z-index: 1;
        transition: $animation;
        -o-transition: $animation;
        -moz-transition: $animation;
        -webkit-transition: $animation;
      }
      &:hover{
        transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        &::before{
          filter: blur(3px);
        }
      }
    }
  }
}

@media only screen and (max-height: 600px) {
  .step-k{
    h2{
      font-size: 8vh;
      @include xs {
        font-size: 7vh;
      }
      @include sm {
        font-size: 7vh;
      }
    }
    .logos{
      .logo{
        @include xs{
          width: calc(33.3% - 1em);
          height: 7vh;
        }
        @include sm{
          width: calc(25% - 1em);
          height: 8vh;
        }
        @include md{
          width: calc(20% - 1.66em);
        }
      }
    }
  }
}
