<section class="section texts-center texts5">
  <h2 class="display3"><b>Artists, influencers, musicians and YOU can own a piece of land in metacloud and live stream events or shows, publish content, and request monetary patronage from fans for exclusive access</b></h2>
  <div class="buttons">
    <button mat-flat-button>START DEVELOPING <br>
      <app-coming-soon-element></app-coming-soon-element>
    </button>
    <button mat-flat-button color="primary" class="btn-building">START BUILDING <br>
      <app-coming-soon-element></app-coming-soon-element>
    </button>
  </div>
</section>
