@import "../../home.component.scss";

.texts5 {
  top: 28%;
  @include xs {
    top: 50%;
    left: 10%;
    width: 90%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h2 {
    width: 1050px;
    @include xs {
      width: calc(100% - 1em);
      z-index: 8;
      margin-bottom: 0;
      font-size: 3.5vh;
    }
  }
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 1em;
  pointer-events: none;
  @include xs{
    flex-direction: column;
    margin-bottom: auto;
    gap: 0;
    width: 100%;
  }

  button{
    padding: 0.6em 1.5em;
    width: 240px;
    margin-top: 2em;
    @include xs{
      margin-top: 1em;
      width: 100%;
      padding: 0;
    }

    app-coming-soon-element{
      &::ng-deep .neon-effect{
        transform: scale(0.7);
      }
    }
  }

  .btn-building{
    app-coming-soon-element{
      &::ng-deep b{
        color: #e9c338;
        text-shadow: 0 0px 100px, 0 0 2px, 0 0 1em #bd00f2, 0 0 0.5em #bd00f2, 0 2px 3px #49005e, 0px 0px 7px #fff;
      }
    }
  }
}
