<section class="section texts-center texts5">
    <h2 class="display3"><b>Artists, influencers, musicians and YOU can own a piece of land in metacloud and live stream events or shows, publish content, and request monetary patronage from fans for exclusive access</b></h2>
    <div class="buttons">
      <button disabled mat-stroked-button>START DEVELOPING <br><div class="neon-effect"><b>Comin<span>g</span> So<span>o</span>n</b></div></button>
      <button disabled mat-flat-button color="primary">START BUILDING <br><div class="neon-effect"><b>Comin<span>g</span> So<span>o</span>n</b></div></button>
    </div>
</section>
