<section class="new-section step-i">

  <div class="row">
    <div class="left">
      <h2>Prepare for the unveiling of the hottest club in the Metaverse!  A mash-up of both physical and virtual worlds located directly in the party hub of <span>Portugal - The Metacloud Club!</span></h2>
      <h2>We will also be throwing our first ever grand scale festival in the Metaverse featuring your favorite DJs and artists!</h2>
      <p><i>$CLOUD tokens required for entry*</i></p>
    </div>

    <div class="right">
      <img class="image" src="/assets/img/night-club-reality-1.jpg" alt="Night Club Reality 1" />
      <img class="image" src="/assets/img/night-club-reality-2.jpg" alt="Night Club Reality 2" />
      <img class="avatar-secundary" src="/assets/img/avatar-secundary.png" alt="Avatar Secundary" />
    </div>
  </div>

</section>
