<div class="loading-page" [ngClass]="{'loading-page-show': isLoadingPlanet}">
  <div class="background-texture"></div>
  <img src="/assets/img/logos/icon-total-white.svg" alt="Metacloud icon">
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
  <p>LOADING</p>
</div>

<div class="intro-page" [ngClass]="{'intro-page-show': !isLoadingPlanet}" (mousemove)="onMouseMove($event)">

  <div #cursor class="cursor" (click)="startAnimation()">
    <span>CLICK START</span>
  </div>

  <div class="intro-page-container">
    <img #backgroundStars src="/assets/hdr/background-space.jpg" alt="Background Stars" class="background-stars background-starts-intro" [ngClass]="{'background-starts-intro': isLoadingPlanet}" />

    <model-viewer
      #modelPlanet
      alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum"
      src="assets/models/Planet.glb"
      environment-image="assets/hdr/background-space.png"
      shadow-intensity="3"
      shadow-softness="3"
      exposure="3"
      camera-orbit="0deg 90deg 100%"
      camera-controls="true"
      disable-zoom
      autoplay
      animation-name=""
      interpolation-decay="500"
      class="planet"
      [ngClass]="{'planet-zoom': startZoom, 'planet-intro' : !isLoadingPlanet}">
    </model-viewer>

  </div>
</div>

<div *ngIf="startVideo" class="video-container">
  <video src="/assets/videos/intro-hype-video-muted.mp4" type="mp4" autoplay muted></video>
  <button mat-stroked-button [routerLink]="['/home']" >SKIP</button>
</div>

<div *ngIf="startEndScene" class="end-scene"></div>
