@import "../../../assets/styles/vars";

model-viewer {
  --poster-color: transparent !important;
}

@keyframes endScene {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes introAnimationWorld {
  from {
    transform: translate(-50%, -53%) scale(0);
  }
  to {
    transform: translate(-50%, -53%) scale(1);
  }
}

@keyframes startAnimationWorld {
  0% {
    transform: translate(-50%, -53%) scale(1);
  }
  10% {
    filter: blur(0px);
  }
  100% {
    transform: translate(-50%, -53%) scale(1.6);
    filter: blur(80px);
  }
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;

  .background-texture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-image: url("/assets/img/space-texture.jpg");
    background-repeat: repeat;
    background-size: 700px;
    z-index: 0;
    opacity: 0.1;
    filter: blur(0px);
    mix-blend-mode: color-dodge;
  }

  mat-progress-bar {
    height: 1px;
    width: 200px;
    margin: 2em 0;

    &::ng-deep .mat-progress-bar-buffer {
      background-color: #2c2a2e;
    }
  }

  img {
    opacity: 0.1;
    width: 100px;
    height: 100px;
  }

  .separate-line {
    width: 200px;
    height: 0px;
    border: 1px dashed white;
    opacity: 0.1;
    margin: 2em 0;
  }

  p {
    margin-top: 0;
    margin-left: 10px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 1em;
    text-align: center;
    opacity: 0.2;
  }

  /* .loading {
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid #ffffff;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;

    &:before, &:after {
      content: '';
      width: 6vmax;
      height: 6vmax;
      display: block;
      position: absolute;
      top: calc(50% - 3vmax);
      left: calc(50% - 3vmax);
      border-left: 3px solid #ffffff;
      border-radius: 100%;
      animation: spinLeft 800ms linear infinite;
    }

    &:after {
      width: 4vmax;
      height: 4vmax;
      top: calc(50% - 2vmax);
      left: calc(50% - 2vmax);
      border: 0;
      border-right: 2px solid #ffffff;
      animation: none;
    }
  }

  @keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
  }

  @keyframes spinRight {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
  } */
}

.intro-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  opacity: 0;
  filter: blur(30px);
  transition: all 2s ease;

  .cursor {
    position: fixed;
    z-index: 6;
    white-space: nowrap;
    cursor: none;
    top: 50%;
    left: 50%;
    @include lt-md {
      top: 80%;
    }

    &:active {
      &::before {
        top: -22px;
        left: -22px;
        width: 44px;
        height: 44px;
        background: rgb(255, 0, 119);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: rgba($color: white, $alpha: 0.75);
      top: -2.5px;
      left: -2.5px;
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      border: 1px solid rgb(255, 0, 119);
      top: -20px;
      left: -20px;
      transition: all 0.3s ease;
    }

    span {
      position: relative;
      top: -13px;
      left: -56px;
      color: white;
      white-space: nowrap;
      z-index: 2;
      letter-spacing: 2px;
      word-spacing: 12px;
      font-weight: 600;
      font-size: 0.8em;
    }
  }

  .intro-page-container {
    background-color: #191919;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(white, black);
      mix-blend-mode: multiply;
      filter: blur(150px);
      pointer-events: none;
      z-index: 1;
    }

    .background-stars {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
      pointer-events: none;
      z-index: 1;
      transition: all 0.7s linear, filter 2s ease 1.5s, opacity 2s ease 1.5s;
      opacity: 0.7;
      filter: blur(0px);
    }

    .background-starts-intro {
      opacity: 0;
      filter: blur(30px);
    }

    .planet {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -53%);
      width: 85%;
      height: 85%;
      z-index: 1;
      transition: all 1.5s ease-in;
    }

    .planet-intro {
      animation: introAnimationWorld 3s ease;
    }

    .planet-zoom {
      animation: startAnimationWorld 3.5s linear;
    }
  }
}

.intro-page-show {
  opacity: 1;
  filter: blur(0px);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 20;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: introVideo 1s ease;
  }

  @keyframes introVideo {
    from {
      width: 250%;
      height: 250%;
      opacity: 0;
    }
    to {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  button {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21;
    width: 150px;
    color: white;
    border-color: rgba($color: white, $alpha: 0.5);
    transition: all 0.3s ease;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.end-scene {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 30;
  opacity: 1;
  animation: endScene 300ms linear;
}

app-video-element{
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 6;
}



/* .sound {
  position: absolute;
  top: 1.5em;
  right: 3em;
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: $animation;
  @include xs {
    width: 54.4px;
  }

  span {
    display: block;
    width: 2px;
    background-color: $color_primary_500;
    animation: sound 0ms -0.8s linear infinite alternate;
    transition: height 0.8s, background 0.3s;
    &:nth-child(1) {
      height: 25px;
      animation-duration: 474ms;
    }
    &:nth-child(2) {
      height: 25px;
      animation-duration: 433ms;
    }
    &:nth-child(3) {
      height: 25px;
      animation-duration: 407ms;
    }
    &:nth-child(4) {
      height: 25px;
      animation-duration: 458ms;
    }
  }

  &:hover {
    span {
      background-color: $color_primary_500;
    }
  }
}

.sound-off {
  span {
    animation-play-state: paused;
    &:nth-child(1) {
      height: 25px;
      animation-duration: 474ms;
    }
    &:nth-child(2) {
      height: 25px;
      animation-duration: 433ms;
    }
    &:nth-child(3) {
      height: 25px;
      animation-duration: 407ms;
    }
    &:nth-child(4) {
      height: 25px;
      animation-duration: 458ms;
    }
  }
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 6px;
  }
  100% {
    opacity: 1;
    height: 23px;
  }
} */
