<div *ngIf="isMenuOpen" class="nav-menu" [ngClass]="{'nav-menu-active': isMenuOpen}" @componentAnimation @closeMenu>
  <div class="background"></div>

  <!-- <div class="background-noise"></div> -->
  <!-- <div class="background-lights light1"></div>
  <div class="background-lights light2"></div>
  <div class="background-lights light3"></div>
  <div class="background-lights light4"></div> -->

  <div class="content intro-component-animation">
    <h1 (click)="routeHome();" class="component-animation"><a routerLinkActive="router-link-active" class="link hover-linear">Homepage</a></h1>
    <h1 (click)="routeTeam();" class="component-animation"><a routerLinkActive="router-link-active" class="link hover-linear">Team</a></h1>
    <h1 (click)="routeContact()" class="component-animation"><a routerLinkActive="router-link-active" class="link hover-linear">Contact Us</a></h1>
    <h1 class="component-animation"><a [routerLink]="['/newsletter']" routerLinkActive="router-link-active" class="link hover-linear">Newsletter</a></h1>

    <div class="whitepaper component-animation">
      <h5>White Paper</h5>
      <a class="link hover-linear"><small>Our oficial whitepaper</small></a>
    </div>

    <div class="row">
      <div class="legals">
        <a (click)="routeTerms();" class="link hover-linear component-animation"><small>TERMS & SERVICES</small></a>
        <a (click)="routePrivacy();" class="link hover-linear component-animation"><small>PRIVACY POLICY</small></a>
      </div>
      <div class="social-media component-animation">
        <a href="" target="_blank" mat-icon-button matTooltip="Medium"><img src="/assets/img/icons/medium-icon-black.svg" alt="Medium"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Discord"><img src="/assets/img/icons/discord-icon-black.svg" alt="Discord"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Reddit"><img src="/assets/img/icons/reddit-icon-black.svg" alt="Reddit"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Tiktok"><img src="/assets/img/icons/tiktok-icon-black.svg" alt="Tiktok"></a>
        <!-- <a href="" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-icon.svg" alt="Twitter"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Instagram"><img src="/assets/img/icons/instagram-icon.svg" alt="Instagram"></a>
        <a href="" target="_blank" mat-icon-button matTooltip="Facebook"><img src="/assets/img/icons/facebook-icon.svg" alt="Facebook"></a> -->
      </div>
    </div>

  </div>
</div>


<video *ngIf="activeBlink" src="/assets/videos/blink-video.mp4" autoplay muted class="blink-video"></video>
