<div class="contact-section">
  <div class="container">

    <div class="row">
      <h2><b>Get in touch with us</b></h2>
      <p>Share your proposals, ideas and comments with us. We are looking forward for them.</p>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email adress</mat-label>
        <input matInput placeholder="Steve@metacloud.com" type="text" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Marketing" type="text" required />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <textarea matInput name="" id="" cols="30" rows="10" required placeholder="Write your message..."></textarea>
    </mat-form-field>

    <div class="row">
      <mat-checkbox>I accept subscribe to Newsletter</mat-checkbox>
      <button mat-button>SEND <mat-icon>shortcut</mat-icon></button>
    </div>
  </div>
</div>
