<div class="concerts-page intro-component-animation" @componentAnimation>
  <div class="container">
    <a mat-stroked-button [routerLink]="['/events']" class="component-animation"><mat-icon>arrow_back</mat-icon> Back to events</a>

    <div class="image-container component-animation">
      <img src="/assets/img/backgrounds/concert-event.jpg" alt="header" />
    </div>

    <div class="float-avatars component-animation">
      <div class="content-image"><img src="/assets/img/cards/avatar-concert1.jpg" class="animated" /></div>
      <div class="content-image"><img src="/assets/img/cards/avatar-concert4.jpg" class="animated" /></div>
      <div class="content-image"><img src="/assets/img/cards/avatar-concert2.jpg" class="animated" /></div>
    </div>

    <ul class="component-animation">
      <li>Meta cloud music festival December 9, 10, 2022</li>
      <li>December 9, 2022 Porto, Portugal</li>
      <li>December 10, 2022 Lisbon, Portugal</li>
    </ul>

    <p class="component-animation"><b><i>Line up announcement coming soon and more shows to come..</i></b></p>
  </div>

</div>
