
.avatar-primary{
  /* width: 160%;
  height: 5382px;
  margin: auto;
  z-index: 0;
  position: fixed;
  bottom: -345%;
  left: -44%;
  filter: blur(42px);
  opacity: 0.5; */

  animation-delay: inherit;
  height: 400px;
  width: 200px;
}

.container{
}

.astronaut{
  position: sticky;
  top: 2em;
  left: 0;
  pointer-events: none;

}
