<mat-dialog-content class="menu-modal">

  <h1 class="intro-component-animation animation-duration1"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Homepage</a></h1>
  <h1 class="intro-component-animation animation-duration2"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Team</a></h1>
  <h1 class="intro-component-animation animation-duration3"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Contact Us</a></h1>
  <h1 class="intro-component-animation animation-duration4"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Newsletter</a></h1>

  <div class="whitepaper intro-component-animation animation-duration5">
    <h5>White Paper</h5>
    <a href="" class="link hover-linear"><small>Our oficial whitepaper</small></a>
  </div>

  <div class="row">
    <div class="legals intro-component-animation animation-duration6">
      <a [routerLink]="['/routePath']" class="link hover-linear"><small>TERMS & SERVICES</small></a>
      <a [routerLink]="['/routePath']" class="link hover-linear"><small>PRIVACY POLICY</small></a>
    </div>
    <div class="social-media intro-component-animation animation-duration7">
      <a href="" target="_blank" mat-icon-button matTooltip="Medium"><img src="/assets/img/icons/medium-icon-black.svg" alt="Medium"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Discord"><img src="/assets/img/icons/discord-icon-black.svg" alt="Discord"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Reddit"><img src="/assets/img/icons/reddit-icon-black.svg" alt="Reddit"></a>
      <a href="" target="_blank" mat-icon-button matTooltip="Tiktok"><img src="/assets/img/icons/tiktok-icon-black.svg" alt="Tiktok"></a>
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-icon.svg" alt="Twitter"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Instagram"><img src="/assets/img/icons/instagram-icon.svg" alt="Instagram"></a> -->
      <!-- <a href="" target="_blank" mat-icon-button matTooltip="Facebook"><img src="/assets/img/icons/facebook-icon.svg" alt="Facebook"></a> -->
    </div>
  </div>

</mat-dialog-content>
