<!-- <section class="texts texts-left texts4">
  <h2 (mousemove)="onMouseOverGames($event)" class="texts3 display2" (click)="activeGames()"><span></span><b class="link hover-linear">GAMES</b></h2>
  <h2 (mousemove)="onMouseOverMusic($event)" *ngIf="section3text2" class="texts3 display2" (click)="activeMusic()"><span></span> <b class="link hover-linear">MUSIC</b></h2>
  <h2 (mousemove)="onMouseOverCreativity($event)" *ngIf="section3text3" class="texts3 display2" (click)="activeCreativity()"><span></span><b class="link hover-linear">CREATIVITY</b></h2>

  <img @leaveElements *ngIf="sectionActive == 1" src="/assets/img/poker-table.png" alt="Table Poker" class="floating img-table-poker" />
  <img @leaveElements *ngIf="sectionActive == 1" src="/assets/img/joker.png" alt="Joker" class="floating img-joker" />
  <video src="/assets/videos/wave-music-5.mp4" class="video-music-wave" autoplay muted loop></video>

  <img @leaveElements *ngIf="sectionActive == 2" src="/assets/img/headphones.png" alt="Headphones" class="floating img-headphones" />
  <img @leaveElements *ngIf="sectionActive == 2" src="/assets/img/microphone.png" alt="Microphone" class="floating img-microphone" />
</section> -->
