@import "../../home.component.scss";

@keyframes floating {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  to   { transform: translate(0, -0px); }
}

@keyframes introElements {
  from{
    opacity: 0;
    filter: blur(30px);
  }
  to{
    opacity: 1;
    filter: blur(0px);
  }
}

h2{
  b{
    color: $black_high_emphasis;
    &:hover{
      color: $color_primary_500;
    }
  }
  span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: black;
    margin-right: 20px;
    position: relative;
    top: -14px;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  pointer-events: none;
}

.img-table-poker {
  position: fixed;
  top: 50%;
  right: 20%;
  animation: introElements 0.5s ease-out,;
}

.img-joker {
  position: fixed;
  top: 40%;
  right: 15%;
  animation: introElements 0.4s ease-out, floating 5.5s infinite ease-in-out;
}

.img-headphones {
  position: fixed;
  top: 20%;
  right: 40%;
  animation: introElements 0.4s ease-out, floating 5.5s infinite ease-in-out;
}

.img-microphone {
  position: fixed;
  top: 40%;
  right: 15%;
  animation: introElements 0.6s ease-out, floating 5s infinite ease-in-out;
}
