<section class="texts texts-left texts4">
  <h2 class="texts3 display2"><span></span><b class="link hover-linear">GAMES</b></h2>
  <h2 *ngIf="section3text2" class="texts3 display2" (click)="activeMusic()"><span></span> <b class="link hover-linear">MUSIC</b></h2>
  <h2 *ngIf="section3text3" class="texts3 display2"><span></span><b class="link hover-linear">CREATIVITY</b></h2>

  <img src="/assets/img/headphones.png" alt="Headphones" class="floating img-headphones" />
  <img src="/assets/img/microphone.png" alt="Microphone" class="floating img-microphone" />
</section>

<!-- <section class="texts texts-center texts5">
  <h2 class="texts3 display3"><b>Artists, influencers, musicians and YOU can own a piece of land in Metacloud and live stream events or shows, publish content, and request monetary patronage from fans for exlusive access</b></h2>
</section> -->
