@import "../../../../../assets/styles/vars";

.video-miniature {
  width: 250px;
  height: 140px;
  max-width: 100%;
  cursor: pointer;
  position: relative;
  transition: $animation;
  box-shadow: 0 16px 30px -12px rgba($color: black, $alpha: 0.7);
  border-radius: 0.7em;
  overflow: hidden;
  background-color: $color_primary_900;

  img {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $animation;
    z-index: 2;
  }

  .btn-play {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: $animation;
    z-index: 3;
    color: white;
    pointer-events: none;
    mat-icon {
      transition: $animation;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 32px;
    }
  }

  &:hover {
    box-shadow: 0 16px 40px -12px rgba($color: black, $alpha: 0.9);
    img {
      opacity: 0.5;
    }
    .btn-play {
      mat-icon {
        transform: scale(1.5);
      }
    }
  }
}
