<div class="video-miniature" [ngClass]="{'video-miniature-active': isVideoOpen}">
  <div class="contain">
    <iframe width="100%" height="100vh" src="https://www.youtube.com/embed/gElfIo6uw4g?start=74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img (click)="isVideoOpen = true;" src="https://images.unsplash.com/photo-1618913001611-2054733f4aa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="Video Miniature" matTooltip="Play Hype video" />
    <button mat-icon-button class="btn-play" (click)="isVideoOpen = true;" matTooltip="Play Hype video"><mat-icon>play_arrow</mat-icon></button>
    <!-- <button mat-icon-button mat-dialog-close class="btn-close" (click)="isVideoOpen = false;"><mat-icon>close</mat-icon></button> -->
  </div>
</div>
