@import "../../../assets/styles/vars";

h2,h3,h4,h5,h6{
  font-family: $font_text !important;
}

.docs_layout {
	display: flex;
	align-items: flex-start;
	overflow: hidden;
  padding: 4em 0;
  padding-top: 6em;
  @include xs{
    padding-top: 4em;
  }

  .container_page{
    padding-top: 1em;
  }

}

.content_layout {
	display: flex;
	align-items: flex-start;
}

.btn-nav{
  display: none;
  width: 100%;
  margin-bottom: 2em;
  &::ng-deep .mat-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include lt-md{
    display: block;
  }
}

.sidebar {
	display: inline-block;
	width: 260px;
	min-width: 260px;
	max-width: 260px;
	margin-right: 70px;
  @include lt-md{
    position: absolute;
    top: 124px;
    left: 1.2em;
    height: 0;
    overflow-y: auto;
    background-color: white;
    width: calc(100% - 2.4em);
    min-width: calc(100% - 2.4em);
    max-width: calc(100% - 2.4em);
    z-index: 9;
  }

  @include sm{
    top: 156px;
    left: 3em;
    width: calc(100% - 6em);
    min-width: calc(100% - 6em);
    max-width: calc(100% - 6em);
  }

	&::-webkit-scrollbar { display: none; }

  mat-icon{
    margin-right: 8px;
  }

  a{
    width: 100%;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    box-sizing: border-box;
    display: flex;
    &:hover{
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .link-disable{
    pointer-events: none;
    color: gray !important;
  }

  .active{
    font-weight: 600;
    color: $color_primary_500;
  }

  mat-expansion-panel{
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;

    mat-expansion-panel-header{
      height: initial;
      border-radius: 0.3em;
      padding: 0.5em 0.8em;
      padding-right: 1em;
      box-sizing: border-box;
      display: flex;
      &:hover{
        background: rgba($color: #000000, $alpha: 0.1);
      }
    }

    &::ng-deep .mat-expansion-panel-body{
      padding-left: 2em;
      padding-right: 0;
    }
  }

  mat-expansion-panel.mat-expanded{
    mat-expansion-panel-header{
      font-weight: 600 !important;
    }
    mat-expansion-panel{
      mat-expansion-panel-header{
        font-weight: 400 !important;
      }
    }
    mat-expansion-panel.mat-expanded{
      mat-expansion-panel-header{
        font-weight: 600 !important;
      }
      mat-expansion-panel{
        mat-expansion-panel-header{
          font-weight: 400 !important;
        }
      }
      mat-expansion-panel.mat-expanded{
        mat-expansion-panel-header{
          font-weight: 600 !important;
        }
        mat-expansion-panel{
          mat-expansion-panel-header{
            font-weight: 400 !important;
          }
        }
      }
    }
  }
}

.sidebar_open {
	@include lt-md {
    padding: 1em 0;
		height: auto;
    max-height: calc(100vh - 115px);
	}
}
