@import "../../../assets/styles/vars";

h2,h3,h4,h5,h6{
  font-family: $font_text !important;
}

.docs_layout {
	display: flex;
	align-items: flex-start;
	overflow: hidden;
  padding: 4em 0;

  .container_page{
    padding-top: 1em;
  }

	.container_pages {
	}
}

.content_layout {
	display: flex;
	align-items: flex-start;
}

mat-form-field{
  display: none;
  @include xs{
    display: block;
  }
}

.btn-nav{
  display: none;
  width: 100%;
  &::ng-deep .mat-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include xs{
    display: block;
  }
}

.sidebar {
	display: inline-block;
	width: 220px;
	min-width: 220px;
	max-width: 220px;
	margin-right: 70px;
  @include xs{
    position: absolute;
    top: 124px;
    left: 1.2em;
    height: 0;
    overflow-y: auto;
    background-color: white;
    width: calc(100% - 2.4em);
    min-width: calc(100% - 2.4em);
    max-width: calc(100% - 2.4em);
    z-index: 9;
  }

	&::-webkit-scrollbar { display: none; }

  mat-icon{
    margin-right: 8px;
  }

  a{
    width: 100%;
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    box-sizing: border-box;
    display: flex;
    &:hover{
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .active{
    font-weight: 600;
    color: $color_primary_500;
  }

  mat-expansion-panel{
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;

    mat-expansion-panel-header{
      height: initial;
      border-radius: 0.3em;
      padding: 0.5em 0.8em;
      padding-right: 1em;
      box-sizing: border-box;
      display: flex;
      &:hover{
        background: rgba($color: #000000, $alpha: 0.1);
      }
    }

    &::ng-deep .mat-expansion-panel-body{
      padding-left: 2em;
      padding-right: 0;
    }
  }
}

.sidebar_open {
	@include xs {
    padding: 1em 0;
		height: auto;
    max-height: calc(100vh - 115px);
	}
}
