@import "../../../../../assets/styles/vars";

.was-this-article-useful-component{
  text-align: center;
  margin-top: 3em;

  .title{
    font-weight: 600;
  }

  mat-divider{
    margin: 2em 0;
  }

  button{
    width: 100px;
    &:first-of-type { margin-right: 1em; }
    &:hover{
      background-color: $color_primary_500;
      color: white;
    }
  }

  .active{
    background-color: $color_primary_500;
    color: white;
  }

  .alert{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    p { margin: 0; }
  }
}
