@import "../../home.component.scss";

.texts7{
  h2{
    @include xs{
      font-size: 4vh !important;
    }
    @include sm{
      font-size: 6vh !important;
    }
    @include md{
      font-size: 6vh !important;
    }
  }
}

@media only screen and (max-height: 600px) {
  .texts7{
    h2{
      @include xs{
        font-size: 6vh !important;
      }
      @include sm{
        font-size: 7vh !important;
      }
      @include md{
        font-size: 7vh !important;
      }
    }
  }
}
