@import "../../home.component.scss";

.step-b {
  pointer-events: none;
  z-index: 9;
  @media only screen and (min-width: 1560px) {
    top: 42%;
    left: 41%;
  }
  h2 {
    pointer-events: all;
    @include xs{
      text-shadow: 0 0 9px #fa9898;
    }
    @include sm{
      width: 65%;
    }
    @include md{
      width: 600px;
    }
  }
}
